.container {
  max-width: 50%;
  margin: 50px auto 0 5%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.card {
  width: 300px;
  height: 500px;
}

.card-img-top {
  height: 375px;
  object-fit: cover;
}